<section class="header-container">
  <div class="row">
    <div class="col-md-6 header-title-container">
      <a ><h3><span class="shopblue">WARE</span><span class="shoporange">HOUSE</span></h3></a>
    </div>
    <div class="col-md-12 header-navigation-container">
      <ul>
        <li><a [hidden]="!authService.isAuthenticated()" routerLink="/products">ALL PRODUCTS</a></li>
        <li><a [hidden]="!authService.isAuthenticated()" routerLink="/categories">CATEGORIES</a></li>
        <li><a [hidden]="!authService.isAuthenticated()||!authService.itCanAdd()" routerLink="/addProduct">ADD PRODUCT</a></li>
        <li><a [hidden]="!authService.isAuthenticated()||!authService.itCanAdd()" routerLink="/addCategory">ADD CATEGORY</a></li>
        <li><span [hidden]="!authService.isAuthenticated()" [textContent]="authService.username"></span></li>
        <li><a routerLink="/login" (click)="logout()" [hidden]="!authService.isAuthenticated()">LOGOUT</a></li>
      </ul>
    </div>
  </div>
</section>
