<section class="header-container">
  <div class="row">
    <div class="col-md-6 header-title-container">
      <a ><h3><span class="shopblue">WARE</span><span class="shoporange">HOUSE</span></h3></a>
    </div>
    <div class="col-md-12 header-navigation-container">
      <ul>
        <li><a >ALL PRODUCTS</a></li>
        <li><a>CATEGORIES</a></li>
        <li><a>ADD PRODUCT</a></li>
        <li><a>ADD CATEGORY</a></li>
        <li><p>USERNAME</p></li>
        <li><a>LOGOUT</a></li>
        <!--<li><a (click)="logout()">LOGOUT</a></li>-->
      </ul>
    </div>
  </div>
</section>
