<section class="search-product-form-container">
  <div class="search-product-form">
    <form>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Product" [value]="search" #se>
        <button type="button" class="btn btn-success product-btn search-product-btn" (click)="newSearch(se.value)">Search</button>
        <button type="button" class="btn btn-danger product-btn reset-search-product-btn" (click)="reset()">Reset</button>
      </div>
    </form>
  </div>
</section>
<section style="text-align: center">
  <div class="product-list-title">{{title}}</div>
  <div class="total" >Total cost: <span [textContent]="total"></span> </div>
</section>
<section class="product-list-container row">
  <ng-container *ngFor="let product of (products |async| filter:search)" >
    <div class="product-item-container text-center col-md-3">
      <div class="product-item-content">
        <div class="product-item-details">
          <div class="product-item-title">
            <p>{{ product.name }}</p>
          </div>

          <div class="product-item-producer">
            <p>{{ product.producer }}</p>
          </div>

          <div class="product-item-description">
            <p>{{ product.description }}</p>
          </div>

          <div class="product-item-category">
            <p>Category: {{ product.categoryName}}</p>
          </div>

          <div class="product-item-amount">
            <p>Amount: {{ product.amount }}</p>
          </div>

          <div class="product-item-price">
            <h5>{{ product.price | currency:'USD':true }}</h5>
          </div>
        </div>
        <div *ngIf="access" class="product-item-buttons">
          <!--data-art="item._id"-->
          <button type="button" class="btn btn-secondary product-btn" data-toggle="modal" data-target="#productModal" (click)="prodModal(product)">Change Amount</button>
          <br>
          <button type="button" class="btn btn-success product-btn" [routerLink]="['/editProduct', product.id]" >Edit</button>
          <button type="button" class="btn btn-danger product-btn delete-product-btn" (click)="removeProduct(product.id)">Delete</button>
        </div>
      </div>
    </div>
  </ng-container>
</section>

<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm text-center" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="product-item-title"> {{changedProduct.name}}</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <div>
          <input  class="change-amount-input" type="number" name="amount" #amount="ngModel"  [min]="-1*changedProduct.amount" placeholder="Change Amount" pattern="-?\d+" [(ngModel)]="change" >
          <div [hidden]="amount.valid || amount.untouched" class="alert alert-danger">
            Here can be only integer value!
          </div>
          <div>
            <button [disabled]="(!amount.valid) || -1*amount.value>changedProduct.amount" type="button" class="btn btn-dark product-btn" (click)="changeAmount()" >Change Amount</button>
          </div>
          <p class="product-modal-amount-title">Amount: {{changedProduct.amount}}</p>
        </div>
      </div>

    </div>
  </div>
</div>
