<section class="edit-category-title">
  <div>Edit Category {{category.name}}</div>
</section>
<div class="edit-category-content">

  <div class="edit-category-line">
    <p class="edit-category-header">Name</p>
    <input class="edit-category-input" type="text" placeholder="Name" value="{{nName}}" [(ngModel)]="nName" #name="ngModel" required>
  </div>

  <div class="edit-category-line">
    <p class="edit-category-header">Description</p>
    <textarea class="edit-category-input" type="text" placeholder="Description" value="{{nDescription}}" [(ngModel)]="nDescription" rows="5" #description="ngModel" required></textarea>
  </div>
  <div>
    <button [disabled]="!name.valid|| !description.valid" class="btn btn-success edit-category-line"(click)="editCategory()">Edit Category</button>
  </div>


</div>
