<section class="add-category-title">
  <div>Add Category</div>
</section>
<div class="add-category-content">

  <div class="add-category-line">
    <p class="add-category-header">Name</p>
    <input class="add-category-input" type="text" placeholder="Name" [(ngModel)]="nName"  #name="ngModel" required>
  </div>

  <div class="add-category-line">
    <p class="add-category-header">Description</p>
    <textarea class="add-category-input" type="text" placeholder="Description" [(ngModel)]="nDescription" rows="5"  #description="ngModel" required></textarea>
  </div>
<div>
    <button [disabled]="!name.valid|| !description.valid" class="btn btn-success add-category-line"(click)="addCategory()">Add Category</button>
  </div>


</div>
